<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>401778412912-cvlke7aq1lqpfvbgv5rpikhuhjcgla1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401778412912-cvlke7aq1lqpfvbgv5rpikhuhjcgla1e</string>
	<key>API_KEY</key>
	<string>AIzaSyCT0eIScweaoc5XCmYzFKfZ9b46RrzrwXI</string>
	<key>GCM_SENDER_ID</key>
	<string>401778412912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grocr.ios</string>
	<key>PROJECT_ID</key>
	<string>grocr-f4ed3</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-f4ed3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401778412912:ios:c0560efa394d6b40</string>
	<key>DATABASE_URL</key>
	<string>https://grocr-f4ed3.firebaseio.com</string>
</dict>
</plist>